.jumbotron {
  margin: 2%;
  background-image: url(../img/jumbotron1.jpg);
  background-size: cover;
  background-position-y: 40%;
  text-align: center;
  border-radius: 25px;
  border: dashed red 3px;
}
body {
  background-image: url(../img/BrickOven.jpg);
  background-size: cover;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: url(../img/pointer5.png)5 5, auto;

}

#xtra {
  border: solid yellow 2px;
}

.cost {
border: solid yellow 1px;
height: 200px;
}

#size {
opacity: 0.5;
color: black;
}

#show-toppings {
  font-weight: bold;
  border: solid black 1px;
}

button {
  margin: 3%;
  float: right;
}

button:hover {


}
